[View in Colaboratory](https://colab.research.google.com/github/9kitsune/tme/blob/master/TME.ipynb)

##Roadmap
- investigate ways to take in external data source in json format
> - historic data sources
>> - webtris
>> - NTIS
> - real time data sources
>> - primary - MIDAS Gold, every minute data
>> - secondary - TMU Traffic data, every 5 minutes data
>> - Tertiary - floating vehicle data available in a per link basis
- investigate ways to process data with python and associated data science modules
- investigate ways to present such data in graphical forms
- investigates IFTTT method in initiate reaction
- investigate ways to predict where the key difference will occur between historic data sources and the real time ones.

In [37]:
import os
import json
import urllib.request
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

request=urllib.request.Request('http://webtris.highwaysengland.co.uk/api/v1.0/sites')
response = urllib.request.urlopen(request)

sites = response.read()
data = json.loads(sites)
d = json_normalize(data['sites'])

df = pd.DataFrame(data=d)  

# df['desc_split'] = df['Description'].str.split('/')

df['road'], df['geo'] = df['Description'].str.split('/', 1).str

# df.columns

df[(df.road == 'M1') & (df.geo == '2413B')]

# df.head()

# df = df.set_index(['road','geo'])

# df[df.Status == 'Active']

# df.loc[:,['road', 'geo', 'id']]

,Description,Id,Latitude,Longitude,Name,Status,road,geo
16,M1/2413B,17,51.785326,-0.410737,MIDAS site at M1/2413B priority 0 on link 1080...,Active,M1,2413B

wt1 = pd.read_json("http://webtris.highwaysengland.co.uk/api/v1.0/sites",orient='index')